<div class="register-page img">
  <div class="register-page__form">
    <span class="register-page--text">Zarejestruj się</span>
    <form [formGroup]="this.registerForm">
      <div class="register-page__form--flex register-page__form--margin">
        <div class="register-page__form--half-width">
          <label for="name" class="register-page__form--label">Podaj imię</label
          ><br />
          <input
            type="text"
            id="name"
            class="input-style"
            formControlName="name"
          /><br />
          <div
            class="validator"
            *ngIf="
              this.registerForm.get('name')?.invalid &&
              this.registerForm.get('name')?.touched
            "
          >
            <span class="validator--color">To pole nie może być puste</span>
          </div>
        </div>
        <div class="register-page__form--half-width">
          <label for="surname" class="register-page__form--label"
            >Podaj nazwisko</label
          ><br />
          <input
            type="text"
            id="surname"
            class="input-style"
            formControlName="surname"
          />
          <div
            class="validator"
            *ngIf="
              this.registerForm.get('surname')?.invalid &&
              this.registerForm.get('surname')?.touched
            "
          >
            <span class="validator--color">To pole nie może być puste</span>
          </div>
        </div>
      </div>
      <div class="register-page__form--margin">
        <label class="register-page__form--label" for="login"
          >Podaj nazwę użytkownika</label
        ><br />
        <input
          type="text"
          class="input-style"
          id="login"
          formControlName="login"
        />
        <div
          class="validator"
          *ngIf="
            this.registerForm.get('login')?.invalid &&
            this.registerForm.get('login')?.touched
          "
        >
          <span class="validator--color">To pole nie może być puste</span>
        </div>
      </div>
      <div class="register-page__form--margin">
        <label class="register-page__form--label" for="email"
          >Podaj e-mail</label
        ><br />
        <input
          type="text"
          class="input-style"
          id="email"
          formControlName="email"
        />
        <div
          class="validator"
          *ngIf="
            this.registerForm.get('email')?.invalid &&
            this.registerForm.get('email')?.touched
          "
        >
          <span
            *ngIf="this.registerForm.get('email')?.hasError('required')"
            class="validator--color"
            >To pole nie może być puste</span
          >
          <span
            *ngIf="this.registerForm.get('email')?.hasError('pattern')"
            class="validator--color"
            >Podany adres e-mail jest nieprawidłowy</span
          >
        </div>
      </div>
      <div class="register-page__form--flex register-page__form--margin">
        <div class="register-page__form--half-width">
          <label class="register-page__form--label" for="password"
            >Podaj hasło</label
          ><br />
          <input
            type="password"
            class="input-style"
            id="password"
            formControlName="password"
          />
          <div
            class="validator"
            *ngIf="
              this.registerForm.get('password')?.invalid &&
              this.registerForm.get('password')?.touched
            "
          >
            <span
              *ngIf="this.registerForm.get('password')?.hasError('required')"
              class="validator--color"
              >To pole nie może być puste</span
            >
            <span
              *ngIf="this.registerForm.get('password')?.hasError('pattern')"
              class="validator--color"
              >Podane hasło musi zawierać minimum 8 znaków, jedną dużą literę,
              jedną małą literę, jedną liczbę i jeden znak specjalny</span
            >
          </div>
        </div>
        <div class="register-page__form--half-width">
          <label class="register-page__form--label" for="repeatPassword"
            >Powtórz hasło</label
          ><br />
          <input
            type="password"
            class="input-style"
            id="repeatPassword"
            formControlName="repeatPassword"
          />
          <div
            class="validator"
            *ngIf="
              this.registerForm.get('repeatPassword')?.invalid &&
              this.registerForm.get('repeatPassword')?.touched
            "
          >
            <span
              *ngIf="
                this.registerForm.get('repeatPassword')?.hasError('required')
              "
              class="validator--color"
              >To pole nie może być puste</span
            >
            <span
              *ngIf="
                this.registerForm.get('repeatPassword')?.hasError('pattern')
              "
              class="validator--color"
              >Podane hasło musi zawierać minimum 8 znaków, jedną dużą literę,
              jedną małą literę, jedną liczbę i jeden znak specjalny</span
            >
          </div>
        </div>
      </div>
      <div class="register-page__form--margin">
        <label class="register-page__form--label" for="phoneNumber"
          >Podaj numer telefonu</label
        ><br />
        <input
          type="text"
          class="input-style"
          id="phoneNumber"
          formControlName="phoneNumber"
        />
      </div>
      <div class="register-page__form--margin">
        <label class="register-page__form--label" for="role">Rola</label><br />
        <div class="flex">
          <div>
            <input
              id="user"
              type="radio"
              value="USER"
              name="role"
              formControlName="role"
            />
            <label for="male">Użytkownik</label>
          </div>
          <div>
            <input
              id="tutor"
              type="radio"
              value="TUTOR"
              name="role"
              formControlName="role"
            />
            <label for="male">Korepetytor</label>
          </div>
        </div>
      </div>
      <div class="register-page__form--margin">
        <input type="checkbox" formControlName="checkbox" />
        <span>
          Wyrażam zgodę na przetwarzanie moich danych osobowych zawartych w
          mojej ofercie pracy dla potrzeb niezbędnych do realizacji procesu
          rekrutacji, zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady
          (UE) 2016/679 z dnia 27 kwietnia 2016 roku oraz ustawą z dnia 10 maja
          2018 roku o ochronie danych osobowych (Dz.U.2018 poz. 1000) oraz
          zgodnie klauzulą informacyjną dołączoną do mojej zgody.
        </span>
      </div>
      <div class="register-page__form--margin">
        <button
          class="register-btn"
          [disabled]="!this.registerForm.valid"
          (click)="send()"
        >
          Zarejestruj się
        </button>
        <button class="clear-btn" (click)="clear()">Wyczyść</button>
      </div>
    </form>
  </div>
</div>
