<div class="main-container">
  <div class="basket">
    <div class="basket__items">
      <div
        style="text-align: center; font-size: 40px; padding: 10px; color: white"
      >
        Status zamówienia
      </div>
      <ul *ngIf="orders.length !== 0">
        <app-order-state-item
          #basketItems
          *ngFor="let item of orders; let i = index"
          [item]="item"
          [index]="i"
        ></app-order-state-item>
      </ul>
      <div *ngIf="orders.length === 0">Koszyk jest pusty</div>
    </div>
  </div>
</div>
