<div class="offer-item" [style.background-image]="img">
  <div class="offer-item__info">
    <div class="offer-item__title">
      {{ offerItemData.foodName }}
    </div>
    <div class="offer-item__price">{{ offerItemData.price }} zł</div>
    <div class="offer-item__description">
      {{ offerItemData.description }}
    </div>
  </div>
  <div class="offer-item__btn-container">
    <button class="offer-item__btn" (click)="addItemToBasket()">
      Dodaj do koszyka
    </button>
  </div>
</div>
