<div class="addAccount-page">
  <div class="addAccount-page__form">
    <span class="addAccount-page--text">Dodaj konto pracownika</span>
    <form [formGroup]="this.registerForm">
      <div class="addAccount-page__form--flex addAccount-page__form--margin">
        <div class="addAccount-page__form--half-width">
          <label for="name" class="addAccount-page__form--label"
            >Podaj imię</label
          ><br />
          <input
            type="text"
            id="name"
            class="input-style"
            formControlName="name"
          /><br />
          <div
            class="validator"
            *ngIf="
              this.registerForm.get('name')?.invalid &&
              this.registerForm.get('name')?.touched
            "
          >
            <span class="validator--color">To pole nie może być puste</span>
          </div>
        </div>
        <div class="addAccount-page__form--half-width">
          <label for="surname" class="addAccount-page__form--label"
            >Podaj nazwisko</label
          ><br />
          <input
            type="text"
            id="surname"
            class="input-style"
            formControlName="surname"
          />
          <div
            class="validator"
            *ngIf="
              this.registerForm.get('surname')?.invalid &&
              this.registerForm.get('surname')?.touched
            "
          >
            <span class="validator--color">To pole nie może być puste</span>
          </div>
        </div>
      </div>
      <div class="addAccount-page__form--margin">
        <label class="addAccount-page__form--label" for="username"
          >Podaj nazwę użtykownika</label
        ><br />
        <input
          type="text"
          class="input-style"
          id="username"
          formControlName="username"
        />
        <div
          class="validator"
          *ngIf="
            this.registerForm.get('username')?.invalid &&
            this.registerForm.get('username')?.touched
          "
        >
          <span class="validator--color">To pole nie może być puste</span>
        </div>
      </div>
      <div class="addAccount-page__form--margin">
        <label class="addAccount-page__form--label" for="email"
          >Podaj e-mail</label
        ><br />
        <input
          type="text"
          class="input-style"
          id="email"
          formControlName="email"
        />
        <div
          class="validator"
          *ngIf="
            this.registerForm.get('email')?.invalid &&
            this.registerForm.get('email')?.touched
          "
        >
          <span
            *ngIf="this.registerForm.get('email')?.hasError('required')"
            class="validator--color"
            >To pole nie może być puste</span
          >
          <span
            *ngIf="this.registerForm.get('email')?.hasError('pattern')"
            class="validator--color"
            >Podany adres e-mail jest nieprawidłowy</span
          >
        </div>
      </div>
      <div class="addAccount-page__form--flex addAccount-page__form--margin">
        <div class="addAccount-page__form--half-width">
          <label class="addAccount-page__form--label" for="password"
            >Podaj hasło</label
          ><br />
          <input
            type="password"
            class="input-style"
            id="password"
            formControlName="password"
          />
          <div
            class="validator"
            *ngIf="
              this.registerForm.get('password')?.invalid &&
              this.registerForm.get('password')?.touched
            "
          >
            <span
              *ngIf="this.registerForm.get('password')?.hasError('required')"
              class="validator--color"
              >To pole nie może być puste</span
            >
            <span
              *ngIf="this.registerForm.get('password')?.hasError('pattern')"
              class="validator--color"
              >Podane hasło musi zawierać minimum 8 znaków, jedną dużą literę,
              jedną małą literę, jedną liczbę i jeden znak specjalny</span
            >
          </div>
        </div>
        <div class="addAccount-page__form--half-width">
          <label class="addAccount-page__form--label" for="repeatPassword"
            >Powtórz hasło</label
          ><br />
          <input
            type="password"
            class="input-style"
            id="repeatPassword"
            formControlName="repeatPassword"
          />
          <div
            class="validator"
            *ngIf="
              this.registerForm.get('repeatPassword')?.invalid &&
              this.registerForm.get('repeatPassword')?.touched
            "
          >
            <span
              *ngIf="
                this.registerForm.get('repeatPassword')?.hasError('required')
              "
              class="validator--color"
              >To pole nie może być puste</span
            >
            <span
              *ngIf="
                this.registerForm.get('repeatPassword')?.hasError('pattern')
              "
              class="validator--color"
              >Podane hasło musi zawierać minimum 8 znaków, jedną dużą literę,
              jedną małą literę, jedną liczbę i jeden znak specjalny</span
            >
          </div>
        </div>
      </div>
      <div class="addAccount-page__form--margin">
        <label class="addAccount-page__form--label" for="phoneNumber"
          >Podaj numer telefonu (opcjonalnie)</label
        ><br />
        <input
          type="text"
          class="input-style"
          id="phoneNumber"
          formControlName="phoneNumber"
        />
      </div>
      <div class="addAccount-page__form--margin">
        <button
          class="register-btn"
          [disabled]="!this.registerForm.valid"
          (click)="send()"
        >
          Dodaj pracownika
        </button>
        <button class="clear-btn" (click)="clear()">Wyczyść</button>
      </div>
    </form>
  </div>
</div>
