.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.basket {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  background: linear-gradient(to left, #743ad5, #d53a9d);
  padding: 20px;
  border-radius: 20px;
}

.calendar {
  width: 100%;
}
